{% extends "base.html" %}
{% load static %}
{% block title %}
SelBel Computer Education/Services
{% endblock title %}
{% block body %}
<section id="services"  class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title pt-4">
      <h2>Services</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>



    <div class="row">
      {% for ser in service reversed  %}
      
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        
        <div class="icon-box">
          <div class="pic"><img src="{{ser.img.url}}" class="img-fluid" alt=""></div>
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a href="">{{ser.title}}</a></h4>
          <p>{{ser.desc}}</p>
          <p><b>Duration : {{ser.duration}}</b></p>
          <p><b>Fees : {{ser.fee}}</b></p>
        </div>
      </div>

      {% endfor %}

    </div>

  </div>
</section><!-- End Services Section -->
{% endblock body %}